<div id="libraries-listing">
    {{#each this}}
    <div class="library" data-sid="library-{{id}}">
        <p id="lname">library: {{name}}</p>
        <p id="address">Address: {{address}}</p>
        <img class="thumbnail" src="img/{{src}}" />
    </div>
    {{/each}}
</div>
